{% extends 'partials/base.html' %}
{% block title %} User profile {% endblock %}
{% load crispy_forms_tags %}

{% block content%}
{% comment %} {% user.is_authenticated%} {% endcomment %}
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-info text-white">
                   {{user.username}} -  Profile Page
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <span class="h4"> {{user.username}}</span>                                
                            <hr>
                            <form method="post" enctype="multipart/form-data" action="{% url 'user-profile-update' %}">
                                {% csrf_token %}
                                {{ user_form|crispy }}
                                {{ profile_form|crispy }}
                                <input class="btn btn-info" type="submit" value="update">
                            </form>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}